In [22]:
import pandas as pd
import numpy as np

### Carga de archivos para su exploración

In [23]:
# info que hay de header de la orden
orden_head=pd.read_csv('rawData/olist_orders_dataset.csv')
payment=pd.read_csv('rawData/olist_order_payments_dataset.csv')
review=pd.read_csv('rawData/olist_order_reviews_dataset.csv')
customer=pd.read_csv('rawData/olist_customers_dataset.csv')
# info que hay de body de la orden
orden_body=pd.read_csv('rawData/olist_order_items_dataset.csv')
product=pd.read_csv('rawData/olist_products_dataset.csv')
seller=pd.read_csv('rawData/olist_sellers_dataset.csv')
#info de ubicacion que comparte seller y customer
zipCode=pd.read_csv('rawData/olist_geolocation_dataset.csv')

##### Creación de función para describir archivos, contabilizando valores no Null y comportamiento de valores numéricos

In [24]:
#Funcion para desplegar informacion sobre los dataset, informacion sobre tipo de dato almacenado y si tiene nulos
#Tambien despliega info como promedio, desviacion, maximos minimos y valores unicos
def describir(a):
    for i in range(0,len(a)):
        display(a[i].info())
        display(a[i].describe())

In [25]:
#información de encabezado: pago, reseña, cliente y datos en que se pidió la orden
headOrder_list=[orden_head,payment,review,customer,zipCode] 
describir(headOrder_list)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

None

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
count,99441,99441,99441,99441,99281,97658,96476,99441
unique,99441,99441,8,98875,90733,81018,95664,459
top,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2018-04-11 10:48:14,2018-02-27 04:31:10,2018-05-09 15:48:00,2018-05-08 23:38:46,2017-12-20 00:00:00
freq,1,1,96478,3,9,47,3,522

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

None

       payment_sequential  payment_installments  payment_value
count       103886.000000         103886.000000  103886.000000
mean             1.092679              2.853349     154.100380
std              0.706584              2.687051     217.494064
min              1.000000              0.000000       0.000000
25%              1.000000              1.000000      56.790000
50%              1.000000              1.000000     100.000000
75%              1.000000              4.000000     171.837500
max             29.000000             24.000000   13664.080000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

None

       review_score
count  99224.000000
mean       4.086421
std        1.347579
min        1.000000
25%        4.000000
50%        5.000000
75%        5.000000
max        5.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

None

       customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

None

       geolocation_zip_code_prefix  geolocation_lat  geolocation_lng
count                 1.000163e+06     1.000163e+06     1.000163e+06
mean                  3.657417e+04    -2.117615e+01    -4.639054e+01
std                   3.054934e+04     5.715866e+00     4.269748e+00
min                   1.001000e+03    -3.660537e+01    -1.014668e+02
25%                   1.107500e+04    -2.360355e+01    -4.857317e+01
50%                   2.653000e+04    -2.291938e+01    -4.663788e+01
75%                   6.350400e+04    -1.997962e+01    -4.376771e+01
max                   9.999000e+04     4.506593e+01     1.211054e+02

In [26]:
#información de detalle de compra: producto, vendedor relacionado a ese producto, cantidad e info adicional
#regla de negocio según kaggle: algunos casos vendedor es distinto en misma orden pues es según proveedor del producto (tipo Amazon)
orderBody_list=[orden_body,seller,product] 
describir(orderBody_list)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

None

       order_item_id          price  freight_value
count  112650.000000  112650.000000  112650.000000
mean        1.197834     120.653739      19.990320
std         0.705124     183.633928      15.806405
min         1.000000       0.850000       0.000000
25%         1.000000      39.900000      13.080000
50%         1.000000      74.990000      16.260000
75%         1.000000     134.900000      21.150000
max        21.000000    6735.000000     409.680000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

None

       seller_zip_code_prefix
count             3095.000000
mean             32291.059451
std              32713.453830
min               1001.000000
25%               7093.500000
50%              14940.000000
75%              64552.500000
max              99730.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

None

,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,32341.000000,32341.000000,32341.000000,32949.000000,32949.000000,32949.000000,32949.000000
mean,48.476949,771.495285,2.188986,2276.472488,30.815078,16.937661,23.196728
std,10.245741,635.115225,1.736766,4282.038731,16.914458,13.637554,12.079047
min,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000
25%,42.000000,339.000000,1.000000,300.000000,18.000000,8.000000,15.000000
50%,51.000000,595.000000,1.000000,700.000000,25.000000,13.000000,20.000000
75%,57.000000,972.000000,3.000000,1900.000000,38.000000,21.000000,30.000000
max,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000

#### Hipotésis y su comprobación

**1) Se puede observar una relacion de 1 a 1 entre order_id y customer_id**

In [27]:
#verificando relacion 1 a 1 entre order_id y customer_id con inner join
encabezado=orden_head.merge(customer,on='customer_id')
len(encabezado)

99441

*El inner join devuelve el mismo tamaño que el dataset original, por tanto si se tiene una relación 1 a 1 entre order id y customer id, de lo contrario se tendria un menor tamaño al dataset original*

**2) Existencia de una mayor cantidad de registros sobre la forma de los pagos en comparación al encabezado de la orden sugiere que una orden podría ser pagada de diferentes formas**

In [28]:
#Determinar si un mismo order_id tiene mas de una forma de pago
p=payment.groupby(['order_id','payment_type']).agg(
    total=('payment_value',np.mean)
).reset_index()

p.order_id.value_counts()

d6e320ab3eb91f810c2a3296998bdcc8    2
092ae7e7141e3d69ecd0935d97e14fd9    2
d6f83d3377bbf1697831ea355301fb87    2
c78b50d1c5ddfed2a5394dd0e90c4e99    2
67e7cace5deab160cedd95c80e6f60a8    2
                                   ..
564e414f20390e6417f5e6c6ad3f095e    1
564db6e83379512127bc60da803b4a36    1
564d8bd235927df0c8c8bfe8ff4aee6d    1
564d27104ae4e2c4d3592769b928fee6    1
fffe41c64501cc87c801fd61db3f6244    1
Name: order_id, Length: 99440, dtype: int64

*Se observa que una orden tuvo más de un tipo de pago distinto*

**3) Existe diferencia entre nombre de estado y ciudad para un mismo zipcode**

In [29]:
#Determinar diferencia entre ciudad de geolocalizacion y ciudad seller
ub=zipCode.merge(seller,left_on='geolocation_zip_code_prefix',right_on='seller_zip_code_prefix')
ub=ub.merge(customer,left_on='geolocation_zip_code_prefix',right_on='customer_zip_code_prefix')
ub=ub[['geolocation_city','seller_city','customer_city']]
ub[(ub['geolocation_city']!=ub['seller_city']) | (ub['geolocation_city']!=ub['customer_city']) ].value_counts()

geolocation_city       seller_city                             customer_city
rio de janeiro         04482255                                rio de janeiro           97554
são paulo              sao paulo                               sao paulo                80215
uberlândia             uberlandia                              uberlandia               74264
rio de janeiro         rio de janeiro, rio de janeiro, brasil  rio de janeiro           56749
divinópolis            divinopolis                             divinopolis              49880
                                                                                        ...
cruzeiro               brasilia                                brasilia                     2
floripa                florianopolis                           florianopolis                2
ibirité                ibirite                                 ibirite                      2
são paulo              são paulo                              sao paulo                    1
santa bárbara d`oeste  santa barbara d'oeste                   santa barbara d oeste        1
Length: 428, dtype: int64

*Se observa que existen diferencias entre ciudad de la geolocalización, cliente y vendedor. Una gran proporcion se debe al uso de acentos, por lo que sera necesario removerlos previo a su insercion en el modelo dimensional dentro de la base de datos. Esto con la finalidad de unificar de mejor forma los nombres de las localidades tanto del cliente como del vendedor*

### Transformación y limpieza de datos

**1)** El puntaje de reseña mínima posible es 1, por tanto los campos vacíos de reseña se podrían colocar como 0 y representaría una puntuación nula, de igual forma se colocaría sin comentarios las ordenes donde no se tienen comentarios

In [30]:
review['review_score'] = np.where(review.review_score.isnull(), 0, review['review_score'])
review['review_comment_message'] = np.where(review.review_comment_message.isnull(), 'sem comentarios', review['review_comment_message'])

**2)** Remover acentos en ciudad y estado de la tabla de cliente y vendedor

In [31]:
# Funcion en donde se seleccionan las columnas, se aplica una normalizacion del codigo actual hacia el utf-8
def SinAcento(d):
#columnas que forman parte del dataset, (incluidas en indice)
    cols = d.select_dtypes(include=[np.object]).columns
#esto es equivalente a dataset[['columna1','columna2',etc...]]= aplicar una funcion de parametro x que primero normaliza NFKD,
# NFKD-> reemplaza todos los caracteres compatibles con sus equivalentes, es decir ã=a.
# se codifica en ascii y despues se descodifica en utf-8 (para poder leerlo como caracter normal)
    d[cols] = d[cols].apply(lambda x: x.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8'))
    return d

In [32]:
#Se limpia acentos
customer=SinAcento(customer)
seller=SinAcento(seller)

C:\Users\50259\AppData\Local\Temp\ipykernel_6688\2876181985.py:4: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  cols = d.select_dtypes(include=[np.object]).columns

**3)** Filtración de cada tabla con las columnas de interes, dado que las llaves naturales son string de 32 caracteres en promedio se crearán llaves sorrugadas. Esto con la finalidad de optimizar los tiempos de consulta se creará una llave sorrugada

In [33]:
#llaves sorrugadas de conexión
customer['customersk'] = pd.factorize(customer['customer_id'],sort=True)[0]
review['reviewsk'] = pd.factorize(review['review_id'],sort=True)[0]
orden_head['ordersk'] = pd.factorize(orden_head['order_id'],sort=True)[0]
payment['paymentsk']=pd.factorize(payment['payment_type'],sort=True)[0]
seller['sellersk'] = pd.factorize(seller['seller_id'],sort=True)[0]
product['productsk']=pd.factorize(product['product_id'],sort=True)[0]
product['productCatsk']=pd.factorize(product['product_category_name'],sort=True)[0]

In [34]:
#creacion de la cabeza de la orden
encabezado=orden_head.merge(customer,on='customer_id').merge(payment,on='order_id').merge(review,how='left',on='order_id')
encabezado=encabezado[['order_id','ordersk','payment_value','customersk','order_purchase_timestamp','paymentsk','reviewsk']]
#creacion de cuerpo de la orden
detalle=orden_body.merge(seller,how='left',on='seller_id').merge(product,how='left',on='product_id')
detalle=detalle[['order_id','order_item_id','price','productsk','sellersk','productCatsk']]
#tabla de transacciones o registro de compara con info del encabezado y detalle de la compra
temp=encabezado.merge(detalle,on='order_id')

In [35]:
#verificacion 
describir([temp])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118307 entries, 0 to 118306
Data columns (total 12 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   order_id                  118307 non-null  object
 1   ordersk                   118307 non-null  int64
 2   payment_value             118307 non-null  float64
 3   customersk                118307 non-null  int64
 4   order_purchase_timestamp  118307 non-null  object
 5   paymentsk                 118307 non-null  int64
 6   reviewsk                  117329 non-null  float64
 7   order_item_id             118307 non-null  int64
 8   price                     118307 non-null  float64
 9   productsk                 118307 non-null  int64
 10  sellersk                  118307 non-null  int64
 11  productCatsk              118307 non-null  int64
dtypes: float64(3), int64(7), object(2)
memory usage: 11.7+ MB

None

,ordersk,payment_value,customersk,paymentsk,reviewsk,order_item_id,price,productsk,sellersk,productCatsk
count,118307.000000,118307.000000,118307.000000,118307.000000,117329.000000,118307.000000,118307.000000,118307.000000,118307.000000,118307.000000
mean,49654.460193,172.575102,49575.693070,0.980365,49236.489044,1.196523,120.648522,16413.419181,1515.306525,36.210706
std,28701.004099,267.110727,28724.515327,0.830806,28399.515394,0.699474,184.111631,9464.571974,895.566556,22.396681
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.850000,0.000000,0.000000,-1.000000
25%,24776.500000,60.850000,24731.500000,1.000000,24693.000000,1.000000,39.900000,8309.000000,784.000000,13.000000
50%,49588.000000,108.200000,49451.000000,1.000000,49162.000000,1.000000,74.900000,16224.000000,1512.000000,32.000000
75%,74532.500000,189.260000,74448.000000,1.000000,73811.000000,1.000000,134.900000,24603.000000,2365.000000,55.000000
max,99440.000000,13664.080000,99439.000000,4.000000,98409.000000,21.000000,6735.000000,32950.000000,3094.000000,72.000000

In [36]:
#filtrado para unicamente tener la informacion que me interesa
customer=customer[['customersk','customer_id','customer_city','customer_state']].drop_duplicates().reset_index(drop=True)
productCat=product[['productCatsk','product_category_name']].drop_duplicates().reset_index(drop=True)
product=product[[ 'productsk','product_id', 'product_width_cm', 'product_length_cm','product_height_cm', 'product_weight_g']].drop_duplicates().reset_index(drop=True)
review=review[['reviewsk','review_id', 'review_score','review_comment_message']].drop_duplicates().reset_index(drop=True)
seller=seller[['sellersk','seller_id','seller_city','seller_state']].drop_duplicates().reset_index(drop=True)
order=orden_head[['ordersk','order_id', 'order_status']].drop_duplicates().reset_index(drop=True)
payment=payment[['paymentsk','payment_type']].drop_duplicates().reset_index(drop=True)

In [37]:
#se lee archivos de data falsa generada en onlinedatagenerator.com
fakeseller=pd.read_csv('rawData/FakeSeller.csv')
fakecustomer=pd.read_csv('rawData/FakeCustomer.csv')
#Se agrega la fakeData customer
customer['name']=fakecustomer['name']
customer['email']=fakecustomer['email']
customer['phone']=fakecustomer['phone']
#Se agrega la fakeData seller
seller['name']=fakeseller['name']
seller['email']=fakeseller['email']
seller['phone']=fakeseller['phone']
#se asegura no exista duplicados

#Se verifica
describir([customer,seller])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customersk      99441 non-null  int64
 1   customer_id     99441 non-null  object
 2   customer_city   99441 non-null  object
 3   customer_state  99441 non-null  object
 4   name            99441 non-null  object
 5   email           99441 non-null  object
 6   phone           99441 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

None

         customersk
count  99441.000000
mean   49720.000000
std    28706.288396
min        0.000000
25%    24860.000000
50%    49720.000000
75%    74580.000000
max    99440.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sellersk      3095 non-null   int64
 1   seller_id     3095 non-null   object
 2   seller_city   3095 non-null   object
 3   seller_state  3095 non-null   object
 4   name          3095 non-null   object
 5   email         3095 non-null   object
 6   phone         3095 non-null   object
dtypes: int64(1), object(6)
memory usage: 169.4+ KB

None

          sellersk
count  3095.000000
mean   1547.000000
std     893.593867
min       0.000000
25%     773.500000
50%    1547.000000
75%    2320.500000
max    3094.000000

In [38]:
#para evitar problemas al momento de insertar datos en base de datos pues SQL no es case sensitive y Python si es case sensitive
#por lo que entra en conflicto al asociar indices de dataframe y nombre de columna de base de datos
productCat=productCat.rename(columns={"productCatsk": "productcatesk"})
temp=temp.rename(columns={"productCatsk": "productcatesk"})

#### Se crean los archivos de salida con la data limpia y lista para ingresar a la base de datos

In [39]:
customer.to_csv('cleanData/customer.csv',index=False)
seller.to_csv('cleanData/seller.csv',index=False)
order.to_csv('cleanData/order.csv',index=False)
product.to_csv('cleanData/product.csv',index=False)
review.to_csv('cleanData/review.csv',index=False)
productCat.to_excel('cleanData/productcate.xlsx',index=False)
payment.to_excel('cleanData/paymentype.xlsx',index=False)

In [40]:
#todos los datos menos order_id
transacciones=temp.loc[:, temp.columns != 'order_id']
transacciones.to_csv('cleanData/ventas.csv',index=False)

In [41]:
temp.columns

Index(['order_id', 'ordersk', 'payment_value', 'customersk',
       'order_purchase_timestamp', 'paymentsk', 'reviewsk', 'order_item_id',
       'price', 'productsk', 'sellersk', 'productcatesk'],
      dtype='object')

##### Verificacion de tamaño de campos para string, se determina el tamaño necesario que ocupa en base de datos

In [42]:
tablas=[customer,order,payment,product,review,seller,productCat,zipCode,transacciones]
arr=[]
for i in range(len(tablas)):
     #vectorize toma los valores dentro del arreglo e imprime el tamaño de cada string que contiene el arreglo
     measurer=np.vectorize(len)
     #se crea subset de todas aquellas columnas en donde se cumple que los valores son del tipo objeto
     df_object = tablas[i].select_dtypes(include=[object])
     #se crea diccionario en donde se tiene nombre de columna seguido por cual es el maximo de cada columna. el valor se convierte
     #a string y se aplica el vectorizer para que sea forma de numpy, se busca el valor maximo, axis=0 para que sea maximo en un nivel
     res2 = dict(zip(df_object, measurer(df_object.values.astype(str)).max(axis=0))) 
     #se va agregando al arreglo los resultados
     arr=np.append(arr,res2)
arr

array([{'customer_id': 32, 'customer_city': 32, 'customer_state': 2, 'name': 22, 'email': 41, 'phone': 22},
       {'order_id': 32, 'order_status': 11}, {'payment_type': 11},
       {'product_id': 32},
       {'review_id': 32, 'review_comment_message': 208},
       {'seller_id': 32, 'seller_city': 40, 'seller_state': 2, 'name': 20, 'email': 39, 'phone': 14},
       {'product_category_name': 46},
       {'geolocation_city': 38, 'geolocation_state': 2},
       {'order_purchase_timestamp': 19}], dtype=object)